body{
	padding 	: 0px;
	margin 		: 0px;
}

#container{
	border 			: solid 0px black;
	display 		: flex;
	flex-direction 	: column;
	justify-content : center;
	min-height 		: 100vh;
}

#topbluebar{
	background 		: #4469af;
	height 			: 40px;
	width 			: 100vw;
	border-bottom 	: solid 0px #2b4a7b;
}

#topbarContent{
	max-width 		: 1024px;
	border 			: solid 0px white;
	margin 			: 0 auto;
	height 			: 100%;
	display 		: flex;
	flex-direction 	: column;
	justify-content: center;
}

nav{

}

nav ul{
	list-style 		: none;
	padding 		: 0px;
	margin 			: 0px;
	display 		: flex;
	border 			: solid 1px black;
	width 			: 50%;
}

nav ul li{
	flex-grow 		: 1;
	border 			: solid 1px black;
}
#mainArea{
	border 			: solid 0px black;
	min-height 		: 100vh;
	flex-grow 		: initial;
	width 			: 1024px;
	align-self 		: center;
	background 		: grey;

	display 		: flex;
}

#appsColumn{
	border 			: solid 0px black;
	flex-grow 		: 1;
}

#postsColumn{
	border 			: solid 0px black;
	flex-grow 		: 2;
}

#adsColumn{
	border 			: solid 0px black;
	flex-grow 		: 1;
}

#friendsColumn{
	border 			: solid 1px black;
	position 		: fixed;
	width 			: 15vw;
	min-height 		: 100vh;
	top 			: 40px;
	right 			: 0px;
	background 		: black;
}

