@font-face {
  font-family: lion;
  src: url(../assets/spaceAge.ttf);
}

@font-face {
  font-family: dog;
  src: url(../assets/FreestylingCentipede.otf);
}

body {
  font-family: lion;
  padding: 0px;
  margin: 0px;
  background: orange;
  /*background: url(../img/beach2.jpeg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
}

nav {
  background: black;
}

nav ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

nav ul li {
  border: solid 0px black;
  width: 23%;
  text-align: center;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav ul li a:link {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  text-decoration: underline;
  color: orange;
}

nav ul li a:active {
  text-decoration: underline;
  color: white;
  font-size: 20pt;
}

nav ul li a:visited {
  color: rgba(255, 255, 255, .8);
  font-size: 20pt;
}

nav ul li a:focus {
  color: red font-size: 20pt;
}

h3 {
  font-family: dog;
  font-size: 10vh;
}

#mainArea {
  min-height: 600px;
  padding-left: 100px;
  border: solid 0px black;
}

#mainArea table {
  margin: 0 auto;
  font-size: 20pt;
}

footer {
  border: solid 0px black;
  background: rgba(0, 0, 0, .3);
  float: left;
  padding-top: 40px;
  padding-bottom: 40px;
}

#socialMedia {
  border: solid 0px black;
  width: 50vw;
  /*display     : inline-block;*/
  float: left;
  text-align: center;
}

#socialMedia img {
  padding: 10px;
  margin: 50px;
}

#map {
  text-align: center;
  border: solid 0px black;
  width: 50vw;
  /*	display     : inline-block;*/
  float: left;
}
