@font-face {
  font-family: futurist;
  src: url(../fonts/FUTRFW.TTF);
}

@font-face {
  font-family: go3v2;
  src: url(../fonts/go3v2.ttf);
}

@font-face {
  font-family: shanghai;
  src: url(../fonts/shanghai.ttf);
}
