body{
	background 		: black;
}

nav{

}

nav ul{
	border 			: solid 1px green;
	list-style 		: none;
	padding 		: 0px;
	margin 			: 0px;
	display 		: flex;
}

nav ul li{
	border 			: solid 1px red;
	flex-grow 		: 1;
}