body{
	background  	: orange;
}

nav{

}

nav ul{
	border 			: solid 1px green;
	list-style 		: none;
	padding 		: 0px;
	margin 			: 0px;
	display 		: flex;
	flex-wrap 		: wrap;
}

nav ul li{
	border 			: solid 1px red;
	flex-grow 		: initial;
	width 			: 70%;
}