@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Muli');
body {
  /*padding-top: 50px;*/
  background: white;
  font-family: 'Muli', sans-serif;
}

.container-fluid, .row, .col-md-12, .col-md-6 {
  border: solid 0px white;
}

.nav-brand, .navbar {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding-left: 35px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.carousel-inner>.carousel-item>img {
  /*min-width: 100%;*/
  margin: 0 auto;
}

.custom_card_img {
  background: white;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  padding-top: 35px;
}

.grid {
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
