@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
    font-family: 'Quicksand', sans-serif;
}

#intro {
    border: 1px solid grey;
    margin-left: 20%;
    width: 50%;
    height: 25%;
    padding: 10px;
    background-color: cadetblue;
    font-size: 20px;
}

#bank {
    border: 1px solid grey;
    margin-left: 20%;
    margin-top: 2%;
    width: 50%;
    height: 25%;
    padding: 10px;
    background-color: plum;
    font-size: 20px;
}

#box {
    display: absolute;
    border: 1px solid grey;
    margin-left: 20%;
    margin-top: 2%;
    width: 50%;
    height: 25%;
    padding: 10px;
    background-color: palegreen;
    position: relative;
    overflow: hidden;
}

#dice {
    margin-left: 50%;
    position: relative;
}

#button {
    margin-left: 50%;
}